# .dockerignore taken from https://stackoverflow.com/a/51429852
# Ignore everything
**
# Allow files and directories
!/CMakeLists.txt
!/Makefile-asist
!/src
!/build/bin
!/data/asist/study-2_pilot-2_2021.02/params
!/data/asist/study-2_pilot-2_2021.02/broker.json
!/data/asist/study-2_pilot-2_2021.02/inference.json
!/data/asist/study-2_pilot-2_2021.02/Makefile
!/tools
!/test

# Ignore unnecessary files inside allowed directories
# This should go after the allowed directories
**/*~
**/*.swp
**/.DS_Store
**/Thumbs.db